@charset "UTF-8";
body
{
	background-color: #FFF9E2;
}
.navbar
{
	background-color: #9AC285;
	border: 0;
	border-radius: 0;
	color: white;
	font-family: 'Courgette';
	font-size: 20px;
	margin-bottom: 0;
	padding: .5% 0;
}
.navbar-logo
{
	float: left;
	min-height: 10px;
	padding: 0 20px 2px;
}
.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus, .navbar-inverse .navbar-nav .active a:hover
{
	background-color: #9AC285;
	color: #fff;
}
.navbar-inverse .navbar-nav li a
{
	color: black;
}
.carousel-caption
{
	color: black;
	font-family: 'Courgette';
	text-transform: uppercase;
	top: 62%;
	transform: translateY(-50%);
}
.btn
{
	background: #9AC285;
	border: 2px solid #5E7850;
	color: white;
	font-size: 18px;
	padding: 12px 22px;
	text-transform: capitalize;
}
@media (max-width:600px)
{
	.carousel-caption
	{
		display: none;
	}
}
@media (max-width:600px)
{
	.navbar-logo
	{
		padding: -2px 0 0 5px;
		text-align: center;
	}
}
footer
{
	background: #9AC285;
	color: #516746;
	font-family: 'Courgette';
	font-size: 20px;
	font-style: italic;
	height: 90px;
	padding: 30px;
	text-align: center;
	text-transform: capitalize;
}
@media (max-width:600px)
{
	footer
	{
		font-size: 20px;
		padding: 10px;
	}
}
h2
{
	font-family: 'Courgette';
	font-size: 30px;
	padding: 20px;
}
p
{
	font-family: 'Courgette';
	font-size: 20px;
	padding-bottom: 40px;
	text-align: left;
}